.panel.panel-info
  .panel-heading
    %h1 Register
  .panel-body
    %form{name: "loginForm", role: "form", novalidate: true, data: {ng_submit: "register()"}}
      .row
        .col-md-6{data: {ng_include: "'auth/_form.html'"}}
        .col-md-6
          .input-group.form-group
            %label{for: "firstname"} First Name:
            %input#firstname.form-control{type: "text", placeholder: "First Name", data: {ng_model: "user.first_name"}}/
          .input-group.form-group
            %label{for: "lastname"} Last Name:
            %input#lastname.form-control{type: "text", placeholder: "Last Name", data: {ng_model: "user.last_name"}}/
      %input.btn.btn-default.btn-lg{type: "submit", value: "Register", data: {ng_disabled: "loginForm.$invalid"}}
