!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Todo List
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{data: {ng_app: "todoList"}}
    %a{href: "https://github.com/K-S-A/angular-rails-todo"}
      %img{style: "position: absolute; top: 0; left: 0; border: 0;",
           src: "https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67",
           alt: "Fork me on GitHub",
           data: {canonical_src: "https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"}}
    .alert.alert-warning.fade.in{align: "center", data: {ng_click: "alertMsg = null", ng_show: "alertMsg"}}
      %strong {{alertMsg}} (Click here to close.)
    .container-fluid
      %div{data: {ng_include: "'nav/_nav.html'"}}
      .jumbotron
        %h1
          Todo List
      %nav.navbar.navbar-inverse{data: {bs_affix: "", offset_top: "200"}}
        .container-fluid
          .navbar-header
            %a.navbar-brand{data: {ui_sref: "home"}} AngularRailsToDoList
          %div
            %ul.nav.navbar-nav
              %li.active
                %a{data: {ui_sref: "home"}} Home
              %li
                %a{data: {ui_sref: "newTodo", ng_show: "user"}} Add Todo Item
                %a{data: {ng_hide: "user"}} Login to Add Todo Item
      .row
        .col-md-8.col-md-offset-2
          %ui-view
